#why{
	
	position: absolute;
	top: 15%;
	
	background-color: #233237;
	width: 100%;
	height: 350px;
	
	color: white;
	
}

#why h3{text-align: center; } /*Edit text in why we made this section*/
#why p{font-size: 22px; }


#meet{
	
	position: absolute;
	top: 78%;
	
	background-color: #233237;
	width: 100%;
	height: 850px;
	
	color: white;
	
}

#meet h3{text-align: center;}